In [1]:
import numpy as np
import pandas as pd
import re
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_df = pd.read_csv("article.txt", sep='\n', header=None)

In [3]:
def line_process(s):
    s = s.lower()
    s = re.sub("[\)\(\.,—\-:«»\t!]", " ", s)
    while s.find("  ") != -1:
        s = re.sub("  ", " ", s)
    s = s.strip()
    return s
df_1 = raw_df[0].apply(line_process)

In [4]:
df_arr = np.concatenate(df_1.apply(lambda s: s.split()))

In [109]:
df = pd.DataFrame(
                  data=[df_arr[:], np.ones(df_arr.size)[:]]
                 ).transpose().rename({0:'word', 1:'count'}, axis='columns')
df.describe()

        word   count
count   2277  2277.0
unique  1062     1.0
top        и     1.0
freq      91  2277.0

In [110]:
df_count = df.groupby('word').count()
df_count.head()

      count
word
0         2
10        2
100       1
13        2
14        1

In [27]:
ya = df[(df['word'] == "я") |
        (df['word'] == "меня") | 
        (df['word'] == 'мне') |
        (df['word'] == 'мной')]
ya.groupby('word').count()

      count
word
меня     24
мне       6
мной      1
я        69

In [114]:
pronouns = df[(df['word'] == "я") |
              (df['word'] == "меня") | 
              (df['word'] == 'мне') |
              (df['word'] == 'мной') |
              (df['word'] == "мы") |
              (df['word'] == "нам") | 
              (df['word'] == 'нас') |
              (df['word'] == 'нами') |
              (df['word'] == "ты") |
              (df['word'] == "они") | 
              (df['word'] == 'тех') |
              (df['word'] == 'те') |
              (df['word'] == 'она') |
              (df['word'] == 'он') |
              (df['word'] == 'оно') |
              (df['word'] == 'те') |
              (df['word'] == 'вы') |
              (df['word'] == 'себя') |
              (df['word'] == 'свои')]
pronouns.groupby('word').count().transpose()

word,вы,меня,мне,мной,мы,нам,нас,он,она,они,свои,себя,те,тех,ты,я
count,1,24,6,1,7,1,3,4,5,5,3,5,2,1,11,69

In [128]:
me = df[(df['word'] == "я") |
              (df['word'] == "меня") | 
              (df['word'] == 'мне') |
              (df['word'] == 'мной') |
              (df['word'] == 'наша')]
me.groupby('word').count().sum()

count    102
dtype: int64

In [106]:
te = df[(df['word'] == "ты") |
        (df['word'] == "они") | 
        (df['word'] == 'тех') |
        (df['word'] == 'те') |
        (df['word'] == 'она') |
        (df['word'] == 'он') |
        (df['word'] == 'оно') |
        (df['word'] == 'те') |
        (df['word'] == 'вы') |
        (df['word'] == 'себя')]
te.groupby('word').count().sum()

count    34
dtype: int64

In [77]:
companies = df[(df['word'] == "viber") |
               (df['word'] == "juno") | 
               (df['word'] == 'epam') |
               (df['word'] == 'ciklum') |
               (df['word'] == 'tietoenator') |
               (df['word'] == 'tieto') |
               (df['word'] == 'itransition')]
companies_count = companies.groupby('word').count()
companies_count.transpose()

word   ciklum  epam  itransition  juno  tieto  tietoenator  viber
count       5     4            1    14      2            1      3

In [104]:
companies[companies['word'] == 'juno'].count()

word     14
count    14
dtype: int64

In [105]:
companies[~(companies['word'] == 'juno')].count()

word     16
count    16
dtype: int64